.resolutionResultsContainer {
    margin:0 auto;
    padding: 2rem 0;
    width:60%;
}
.votesPart {
    width:100%;
display:flex;
justify-content:space-around;
}
.dates {
    display: flex;
    justify-content: space-around;
}

.title {
    font-size:2rem;
    text-transform:capitalize;
}
.voteTitle {
    font-size: 2rem;
    text-transform: capitalize;
}
.number {
}

.description {
    font-size:1.1rem;
    text-align: justify;
}

    .description span {
        font-weight:bold;
    }

    .votes {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

.voteBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3rem;
}


.forVotes {
    background-color: rgba(0,200,81,0.3);
}

    .forVotes div {
        color: rgba(0,200,81,1);
    }

.againsVotes {
    background-color: rgba(255,68,68,0.3);
}

    .againsVotes div {
        color: rgba(255,68,68,1);
    }

.holdVotes {
    background-color: rgba(255,187,51,0.3);
}

    .holdVotes div {
        color: rgba(255,187,51,1);
    }

.unsigneVotes {
    background-color: rgba(105,101,94,0.3);
}

    .unsigneVotes div {
        color: rgba(105,101,94,1);
    }
.resolutionResultButtons {
    display:flex;
    margin:0 auto;
    flex-direction:column;
    width:300px;
}

.resolutionResultButtons button{
    margin-bottom:10px;
}

@media (max-width: 1400px) {
    .resolutionResultsContainer {
        width: 80%;
    }
}

@media (max-width: 1100px) {
    .resolutionResultsContainer {
        width: 95%;
    }
}

@media (max-width: 700px) {
    .votes {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .voteBox {
        margin:10px 0px;
        width: 9rem;
        height: 9rem;
    }
}

@media (max-width: 500px) {
    .resolutionResultButtons {
        width: 70%;
    }

}