body {
    height: 100%;
}

html {
    height: 100%;
}

.listHeader {
    text-align: center;
}

.formHeader {
    text-align: center;
}

.content {
    margin-left: 18em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.site {
    display: flex;
}

@media (max-width: 1000px) {
    .content {
        margin-left: 0;
    }

    .site {
        display: flex;
        flex-direction: column;
    }
}
