.userSelectMenu {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

    .userSelectMenu > * {
        font-size: 2rem;
        border-bottom: 1px solid grey;
        padding: 20px 40px;
        color: darkgray;
        margin: 0 20px;
    }

        .userSelectMenu > *:hover {
            text-decoration: none;
            border-bottom: 1px solid black;
            color: #003366;
        }

.activeUserMenuElement {
    text-decoration: none;
    border-bottom: 1px solid black;
    color: #003366;
}


@media(max-width:700px) {
    .userSelectMenu {
        display: flex;
        flex-direction:column;
        align-items:center;
        margin:0;
    }

        .userSelectMenu > * {
            font-size: 1.5rem;
            padding: 0 10px;
            color: darkgray;
            margin: 0 20px;
        }
}